nav.navbar{
    background-color: rgb(152, 26, 26);
}
.nav-link:hover{
    color: #000000 !important;
}
.facebook{
    color: #1877F2;
}
.instagram{
    color: rgb(222, 170, 119);
}
.linkedin{
    color: 	#0077B5;
}
.twitter{
    color: 	#1DA1F2;
}

  